* {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
      font-family: Arial, sans-serif;
}

header {
      background-color: #d9d9d9;
     color: black;
    padding: 15px 0;
}

.container {
     height: 82px;
     margin: 0px 30px;
     display: flex;
     justify-content: space-between;
    align-items: center;
}

a {
     color: black;
     text-decoration: none;
     margin-left: 15px;
     text-transform: uppercase;
     display: inline-block;
     font-weight: 100;
}
a:hover{
    transform: scale(1.1);
    transition: 300ms; 
}

.hero {
     background-color: #777;
     height: 580px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgb(83, 83, 83);
}


.cards {
    padding: 50px;
     width: 900px;
     display: flex;
     flex-wrap: wrap;
     background-size: cover;
     justify-content: center;
     margin: 0 auto;
     gap: 40px;
}

.card {
    background-color: #d4d4d4;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    transition: 400ms;
}

.imagem {
    margin: -5px;
    width: 105%;
    height: 80px;
    background-color: #bbb;
    border-radius: 5px;
}

.linhas {
    width: 100%;
    margin-top: 10px;
}

.linhas div {
    height: 1px;
    background-color: #aaa;
    margin: 20px 0;
    border-radius: 3px;
}


button {
    background-color: #999;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
