#red{
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
#yellow{
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
#green{
    background-color: green;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

h1{
    text-align: center;
    line-height: 300px;
    color: white;
}